# Node / package managers
node_modules/
.npm/
.pnpm-store/

# Yarn (Berry)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarnrc.yml

# Expo caches & build output
.expo/
.expo-dev-cache/
web-build/
dist/

# EAS local build artifacts
.eas/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / Editor cruft
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Environment & secrets
.env
.env.*
*.keystore
*.jks
*.p8
*.p12
*.mobileprovision

# If you later prebuild/eject and DON'T want native folders tracked, keep these.
# If you do want to commit native code, remove these two lines.
android/
ios/

# Test coverage, misc
coverage/

